@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #1f2847;
  padding: 30px;
  overflow: visible;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading{
  font-size: 25px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
}

@media (max-width: 468px) {
  .container {
    min-height: 100vh;
    max-width: 100%;
    border-radius: 0;
  }
}
