<div class="container">
  <div class="start-screen hide">
    <h1 class="heading">Quiz App</h1>
    <div class="settings">
      <label for="num-questions">Numero de questões</label>
      <select name="" id="num0questions">
        <option value="5">5</option>
        <option value="10">10</option>
      </select>

      <label for="difficulty">Selecione dificuldade</label>
      <select name="" id="difficulty">
        <option value="Easy">Facil</option>
        <option value="Medium">Medio</option>
        <option value="Hard">Dificil</option>
      </select>

      <label for="category">Selecione categoria</label>
      <select name="" id="num0questions">
        <option value="L">Bandeiras</option>
        <option value="M">Inglês</option>
      </select>

      <label for="time">Selecione um tempo</label>
      <select name="" id="time">
        <option value="10">10 segundos</option>
        <option value="15">15 segundos</option>
        <option value="20">20 segundos</option>
        <option value="25">25 segundos</option>
        <option value="30">30 segundos</option>
        <option value="60">60 segundos</option>
      </select>
    </div>
    <button class="btn start">Começar Quiz</button>
  </div>
 </div>
